<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuqielinode.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.zhuqielinode.po.User">
    <id column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="statu" jdbcType="INTEGER" property="statu" />
  </resultMap>
  <sql id="Base_Column_List">
    email, password, name, statu
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_table
    where email = #{email,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_table
    where email = #{email,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhuqielinode.po.User">
    insert into user_table (email, password, name, 
      statu)
    values (#{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{statu,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuqielinode.po.User">
    insert into user_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="email != null">
        email,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="statu != null">
        statu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="statu != null">
        #{statu,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuqielinode.po.User">
    update user_table
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="statu != null">
        statu = #{statu,jdbcType=INTEGER},
      </if>
    </set>
    where email = #{email,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuqielinode.po.User">
    update user_table
    set password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      statu = #{statu,jdbcType=INTEGER}
    where email = #{email,jdbcType=VARCHAR}
  </update>
</mapper>